@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');


nav{
    position: relative;
    top: 0;
    height: 120px;
    width: 100%;
    background-color:#9d0208;  
}

.nav-container li a{
    text-decoration: none;
    text-decoration-line: underline;
    color: #f1e7dd;
}

h1 {
    color:#ffea00;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;    
    margin-left: 10px;
}

h2{
    color: #ffea00;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;  
    margin-left: 10px;
}

body{ 
    font-family: 'Merriweather', serif;
    background-color:#780000;
}

p {
    color: #f1e7dd;
    font-size: 15px;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    line-height: 1.6;
}

ul {
    list-style: disc;
    color: #f1e7dd;
    margin-left: 40px;
}

.imagem-header{
    margin-top: 8px;
    margin-left: 10px;
}

.imagem{
    margin-left: 10px;
}

#link-topo{
    text-decoration: none;
    color:black;
    background-color: #ffea00;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

